body {
  background: #fff1e4;
  color: #3d2d14;
}
#maincontent {
  display: inline-block;
  box-shadow: 2px 2px 1px 3px #bb9351;
  padding: 10px;
  border-radius: 45%;
  background: #e5d9f2;
  position: fixed;
  top: 80%;
  right: 15%;
}
#title {
  display: inline-block;
  background: #ffecc6;
  text-align: center;
  padding: 8px;
  margin: -20% 40% 0%;
  position: relative;
  border-radius: 50%;
}
.container {
  background: #edcdaf url("Logo.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 8.5% 6%;
  padding: 3% 6% 6%;
  box-shadow: 2px 2px 3px 1px grey;
  border-radius: 3mm;
  color: #3d2d14;
  font-family: georgia;
}

.container-images {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 8px;
  width: 100%;
}
.container-images>img{
  width: 40%;
  margin: 8px;
  border-radius: 12px;
  width: 40%;
}
.container-imgs,#hip {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  margin: 2px;
  width: 100%;
}
.container-imgs>img,#hip>img {
  padding: 2px;
  margin: 2px;
  width: 100%;
  opacity: .5;
  
  transition: opacity padding width linear .5s;
}
.container-imgs>img:hover, #hip>img:hover {
  padding: 0px;
  width: 130%;
  opacity: 1;
}
img{
  width: 40%;
  margin: 2px;
  border-radius: 12px;
}
.stylez{
  display: inline;
  font-family: cursive;
}
.style {
  font-family: fantasy;
  text-align: center;
}
#description{
  font-family: fantasy;
  color: #420d09;
  padding: .8% 8%;
}

.details {
  padding: .8% 5%;
  font-weight: bold;
  color: #100e0d, 
}

#maincontent a:hover {
  opacity:1;
}

#maincontent {
  display: inline-block;
  box-shadow: 2px 2px 1px 3px grey;
  padding: 10px;
  border-radius: 45%;
  background: #fcf0e0;
  position: fixed;
  top: 80%;
  right: 15%;
  opacity: .2;
  
  transition: opacity ease-in .2s;
}
img {
  width: 80%;
  border: 5px groove #bca89f;
  border-radius: 10%;
  margin: .5% 10%;
}
a.unic {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: initial;
  text-decoration: none;
  color: #3d2d14;
  background: #cfb595;
  border: 2px outset transparent;
  border-radius: 15px;
  margin: 8px;
  min-height: 1.5cm;
  max-height: 5cm;
  box-shadow: 0px 0px 4px 3px #412920 ;
}
#hip img:nth-child(+3n) {
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px 2px #d5c5b4;
}
#hip img:nth-child(+2n) {
  border-radius: 1%;
  box-shadow: 2px 2px 3px 2px #8d7a72;
  width: 80%;
}
#pic {
  width: 20%;
  border-radius: 20%;
}
